html {
  font-size: 100%;
  font-family: "Helvetica";
}

header {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Optional: Space between the h1 and nav */
}
  
body {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 40em;
  margin: auto;
  background-color: #ffffff;
  padding: 13px;
}
  
@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}
@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
  
h1 {
  font-size: 1.5em;
}
  
h2 {
  font-size: 1.3em;
}
  
h3 {
  font-size: 1.17em;
}
  
h4 {
  font-size: 1.0em;
}
  
h5 {
  font-size: 0.83em;
}
  
h6 {
  font-size: 0.67em;
}
  
p {
  margin-top: 0px;
  margin-bottom: 1rem;
}

  
small, sub, sup {
  font-size: 75%;
}
  
hr {
  border-color: #1d7484;
}
  
a {
  text-decoration: none;
  /* text-decoration: underline; */
  text-underline-offset: 0.2em;
  /* color: black; */
} 
a:hover {
  border-bottom: 2px solid;
}
  
ul {
  padding-left: 1.4em;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}
  
li {
  margin-bottom: 0.4em;
}
  
blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid #1d7484;
  margin-bottom: 2.5rem;
  background-color: #f1f1f1;
}
  
blockquote p {
  margin-bottom: 0;
}
  
img, video {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}
  
/* Pre and Code */
pre {
  background-color: #f1f1f1;
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  font-size: 0.9em;
}
  
code, kbd, samp {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}
  
pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
  font-size: 1em;
}
  
/* Tables */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}
  
td, th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1;
}
  
/* Buttons, forms and input */
input, textarea {
  border: 1px solid #4a4a4a;
}
input:focus, textarea:focus {
  border: 1px solid #1d7484;
}
  
textarea {
  width: 100%;
}
  
.button, button, input[type=submit], input[type=reset], input[type=button], input[type=file]::file-selector-button {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #1d7484;
  color: #f9f9f9;
  border-radius: 1px;
  border: 1px solid #1d7484;
  cursor: pointer;
  box-sizing: border-box;
}
.button[disabled], button[disabled], input[type=submit][disabled], input[type=reset][disabled], input[type=button][disabled], input[type=file]::file-selector-button[disabled] {
  cursor: default;
  opacity: 0.5;
}
.button:focus:enabled, .button:hover:enabled, button:focus:enabled, button:hover:enabled, input[type=submit]:focus:enabled, input[type=submit]:hover:enabled, input[type=reset]:focus:enabled, input[type=reset]:hover:enabled, input[type=button]:focus:enabled, input[type=button]:hover:enabled, input[type=file]::file-selector-button:focus:enabled, input[type=file]::file-selector-button:hover:enabled {
  background-color: #982c61;
  border-color: #982c61;
  color: #f9f9f9;
  outline: 0;
}
  
textarea, select, input {
  color: #4a4a4a;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
textarea:focus, select:focus, input:focus {
  border: 1px solid #1d7484;
  outline: 0;
}
  
input[type=checkbox]:focus {
  outline: 1px dotted #1d7484;
}
  
label, legend, fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.intro-container {
  display: flex;
}

.intro-text {
  flex: 66%;
  display: flex;
  align-items: center;
  padding-right: 2.5%;
}

.intro-image {
  flex: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.intro h1, 
.intro p {
  margin-bottom: 0.25rem;
}

.intro {
  margin-bottom: 2rem;
}

.linklike {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #0000ee;
  cursor: pointer;
  font: inherit;
}

.linklike:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
}

.revealed {
  color: gray;
}